.wrapper {
}

.normal {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ccc;
}

.input {
  border: none;
  padding: 12px;
  cursor: text;
}

.div {
  padding: 40px 20px;
  background-color: red;
}
