.wrapper {
  width: 100px;
  height: 100px;
  background-color: #3366cc;
  position: absolute;
  bottom: 10%;
  left: 90%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 1000000;
    display: none;
  animation: fadeInTrash 0.3s ease-in-out;

  svg {
    font-size: 36px;
    color: #fff;
  }

  &:hover {
    background-color: var(--primary);
  }
}

@keyframes fadeInTrash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
