.wrapper_multi_items,
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 16px;
  cursor: grab;
}

.normal {
  outline: none;
  // background-color: #ccc;
}

.input_text {
  position: relative;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 12px;
  cursor: text;
  word-wrap: break-all;

  &:focus {
    border: 1px dotted var(--primary);
  }
}

.link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:focus {
    border: 1px solid var(--primary);
  }

  svg {
    padding: 0 12px;
  }
}

.input_file {
  border: 1px solid #ff0033;
  width: 100%;
  height: 100%;
  z-index: unset;

  &[type="file"]::file-selector-button {
    color: #fff;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    border: none;
    background: var(--primary);
    padding: 4px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    line-height: 100%;
    margin-right: 20px;
  }
  &[type="file"] {
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.text {
}

// css when item have prop icon

.wrapper {
  border-style: solid;
  border-color: transparent;
  border: 1px solid #ccc;
  // border-width: 1px;

  &:hover {
    border-color: #0000ff !important;
    border-style: solid !important;
    border-width: 1px !important;
  }
}
.box {
  border: 1px solid #ccc;
}
.icon {
  min-width: 90px;
  height: 40px;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: grab;
  background-color: var(--primary_color_component);
  border-style: none;
  svg {
    color: #fff;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  .modal_enter_link {
    min-width: 300px;
    min-height: 180px;
    // display: flex;
    transform: translate(-20%, -20%);
    align-items: center;
    flex-wrap: wrap;
    padding: 24px;
    border-radius: 24px;
    background-color: #ccc;
    transition: all 0.3s ease-in-out;
    span {
      margin-left: 12px;
      font-size: 18px;
      color: var(--primary_color_component);
    }
    h5 {
      width: 100%;
      position: unset;
      text-align: center;
      font-size: 18px;
      color: var(--primary);
    }
    input {
      width: 100%;
      position: unset;
      border: none;
      outline: none;
      border-radius: 12px;
      padding: 12px;
      margin-bottom: 12px;
      font-size: 16px;
    }
    button {
      width: 50%;
      position: unset;
      border: none;
      padding: 6px 12px;
      border-radius: 12px;
      background-color: var(--primary_color_component);
      color: #fff;
      font-size: 18px;
      transform: translateX(50%);
      &:hover {
        cursor: pointer;
        background-color: var(--primary);
      }
    }
  }
}

// css icon
.wrapper:hover + .item_edit {
  display: flex;
}
.item_edit:hover {
  display: flex;
}
.item_edit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  background-color: #f90a3a;
  position: absolute;
  top: -16px;
  right: -40px;
  width: 60px;
  height: 30px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 100000;
  display: none;
  svg {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 24px;
  }
  &:hover {
    background-color: var(--primary_color_component);
  }
}

.wrapper_multi_items {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  min-height: 160px;

  &:hover {
    border: 1px solid #4285f4;
  }
}

.wrapper_multi_items {
  &:hover .add_height_bottom,
  .add_height_bottom:hover {
    display: block;
  }
}

.add_height_bottom {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #4285f4;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 10;
  display: none;

  &:hover {
    cursor: row-resize;
  }
}

.add_height_bottom {
  bottom: -8px;
  left: 50%;
}
