.wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #25252f;
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
  }
  &:hover::after {
    display: block;
  }
}
